In [1]:
import numpy as np
import pandas as pd

In [8]:
import os

file_path = os.path.join('data', 'IPODataFull.csv')

df = pd.read_csv(file_path, encoding="ISO-8859-1", low_memory=False)

df.head(10)

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0
5,AAV,76,1,0 - 49,1614.0,2001,6,4,0,8.0800,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,0,0,NaN,0
6,AAWW,96,224,200+,NaN,2004,7,21,2,16.7500,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
7,AAXJ,125,0,0 - 49,NaN,2008,8,13,2,49.7700,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,0,0,NaN,0
8,ABAC,103,72,50 - 99,NaN,2010,7,20,1,21.4000,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0
9,ABB,59,255,200+,4217.0,1999,7,23,4,24.0600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0

In [10]:
print(df.shape)

df_deduped = df.drop_duplicates(subset="Symbol")

print(df_deduped.shape)

(3762, 1664)
(3699, 1664)

In [25]:
#Ticker, IPO Date, Offer Price, First Day Close

df['date'] = pd.to_datetime(df_deduped[['Year', 'Month', 'Day']])

df2 = pd.DataFrame()

df2['Ticker'] = df_deduped['Symbol']
df2['IPO Date'] = df['date']
df2[['Offer Price', 'First Day Close', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7', 'Day8', 'Day9', 'Day10']] = df_deduped[['openDay0', 'closeDay0', 'closeDay1', 'closeDay2', 'closeDay3', 'closeDay4', 'closeDay5', 'closeDay6', 'closeDay7', 'closeDay8', 'closeDay9']]
df2 = df2.sort_values(by='IPO Date')

df2.head(20)

,Ticker,IPO Date,Offer Price,First Day Close,Day2,Day3,Day4,Day5,Day6,Day7,Day8,Day9,Day10
2577,OMEX,1996-01-05,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000,15.0000
2148,MD,1996-01-08,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125,3.3125
502,BYFC,1996-01-09,4.6296,4.8030,4.9770,4.6300,4.6300,4.6300,4.7460,4.7170,4.7460,4.7460,4.6880
511,CAE,1996-01-10,1.9600,1.9600,1.9600,1.9600,1.9600,1.8750,1.8750,1.8750,1.8750,1.8750,1.8750
2827,PSO,1996-01-11,8.7200,8.7200,8.7200,8.7200,8.7200,8.7200,8.7200,8.7200,8.9490,8.9490,8.9490
3054,SCCO,1996-01-11,2.6384,2.6384,2.6590,2.6590,2.5148,2.5148,2.4941,2.4735,2.4735,2.5354,2.5560
3430,TTNP,1996-01-18,35.0625,35.0625,37.1250,37.1250,37.1250,38.5000,38.5000,38.5000,38.5000,38.5000,37.1250
2626,OTEX,1996-01-24,2.6562,2.7500,2.5938,2.4298,2.2188,2.1875,2.0782,2.3750,2.3438,2.3595,2.3908
2434,NICE,1996-01-25,4.9845,5.0000,5.0000,5.0000,5.0315,5.1875,5.1875,5.2500,5.2190,5.1250,5.0625
1770,INSY,1996-01-25,36.1527,43.2083,46.2177,50.2233,50.2233,50.2233,51.2400,52.2567,57.2790,53.2530,57.2790
1708,IDRA,1996-01-25,400.0000,420.0000,430.0000,445.0000,525.0000,545.0000,540.0000,485.0000,495.0000,470.0000,465.0000
1799,IRM,1996-02-01,2.8733,2.8958,2.9182,2.8733,2.8733,2.8733,2.8733,2.8733,2.8733,2.8733,2.8733
517,CALL,1996-02-07,560.6250,560.6250,503.7500,471.2500,430.6250,455.0000,438.7500,471.2500,459.0625,459.0625,459.0625
2059,LNDC,1996-02-15,12.0000,12.7500,12.7500,12.7500,12.5000,12.5000,12.8750,13.6250,13.2500,13.0000,13.5000
1798,IRIX,1996-02-16,10.0000,10.2500,10.2500,10.0000,9.7500,10.0000,10.7500,10.5000,10.1250,10.3750,10.3130
174,ANDE,1996-02-20,4.9793,5.1667,5.2500,4.8333,4.1667,3.5000,3.6667,3.8333,3.8333,3.7083,3.8333
1845,JCTCF,1996-02-21,0.6840,0.6840,0.6457,0.6457,0.6457,0.6457,0.7153,0.7153,0.7153,0.7153,0.7153
2081,LPTH,1996-02-22,38.0000,38.0000,36.0000,36.0000,36.0000,36.0000,36.0000,36.0000,36.0000,36.0000,36.0000
699,CMCO,1996-02-23,15.5000,15.5625,15.2500,15.1250,15.2500,15.5000,15.3750,15.5000,15.5000,15.5000,15.7500
1691,IBOC,1996-02-26,3.9045,3.9045,4.0018,4.0018,4.0509,4.0509,4.0509,3.9536,3.9536,3.9536,3.9536